body {
    background-color: #4BB1A9;
    cursor: url(cursors/iconmonstr-cat-7.svg), default;
} 
// can't figure out how to make the custom cursor work yet
h1 {
    text-align: center;
    font-family:'Courier New';
}
h2 {
    text-align: center;
    font-family: 'Courier New';
    text-decoration: underline;
    text-shadow: 2px 2px #014887;
}

nav {
    background-color: grey;
    padding: 5px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 10px;
}

.main-section {
    color: #7E0BBC;
    font-weight: bold;
}
h3 {
    text-decoration: underline;
}
img {
    border: 5px solid rgb(0, 0, 169);
    border-radius: 10px 20px;
}
div {
    text-align: center;
}
div.list {
    text-align: center;
}